<h3><%= @user.name %>さんのマイページ</h3>

<div class="row mt-4">

  <aside class="col-sm-4 mb-4">
    <h5>メニュー</h5>
    <div class="border pl-3 pt-2">
      <p><%= link_to 'ホーム',@user %></p>
      <% if current_user == @user %>
      <p><%= link_to '新規小説投稿',novel_write_path %></p>
      <% end %>
      <p><%= link_to 'お気に入り小説',likes_user_path(@user) %></p>
    </div>
  </aside>
  <div class="col-sm-8">
    <h5>投稿した小説(全<%= @count_novels %>作)</h5>
    <div class="border pl-3 pt-3">
      <ul class="list-unstyled">
        <% @novels.each do |novel| %>
        <% unless (novel.episodes.empty?) && (current_user != @user) %>
          <li class="mb-3">
              <div>
                <%= link_to novel.title, novel %> <%= render 'episode_count', novel: novel %> <span class="text-muted"> - <%= novel.created_at %></span>
              </div>
          </li>
        <% end %>
        <% end %>
        <%= paginate @novels %>
      </ul>
    </div>
  </div>
</div>