<h3>新規小説投稿(タイトル作成)</h3>

<div class="row mt-4">

  <aside class="col-sm-4 mb-4">
    <h5>メニュー</h5>
    <div class="border pl-3 pt-2">
      <p><%= link_to 'ホーム',user_path(current_user) %></p>
      <p><a href="#">新規小説投稿</a></p>
      <p><a href="#">お気に入り小説</a></p>
    </div>
  </aside>
  <div class="col-sm-8">
    <%= form_with(model: @novel, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, '作品タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :story, 'あらすじ' %>
        <%= f.text_area :story, class: 'form-control', rows: 10 %>
      </div>

      <div class="text-right">
      <%= f.submit '作成', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>