<% if @episodes.empty? %>
<div class="alert alert-danger" role="alert">投稿した小説を公開するには、本文を1話以上作成する必要があります。</div>
<% end %>
<% if current_user == @novel.user %>
<div class="row">
  <div class="col-6">
    <%= link_to "新規本文作成", episode_write_novel_path, class: 'btn btn-primary btn-sm' %>
  </div>

  <div class="col-6 text-right">
    <%= link_to "編集", edit_novel_path(@novel), class: 'btn btn-primary btn-sm' %>
    <%= link_to "削除", @novel, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
  </div>
</div>
<% end %>
<% if logged_in? %>
  <div class="text-right">
    <%= render 'favorites/favorite_button', novel: @novel %>
  </div>
<% end %>

<div class="col-sm-10 offset-sm-1">
  
<div class="text-center mb-4">
  <p><h2 class="font-weight-bold"><%= @novel.title %></h2></p>
</div>

<div class="text-right mb-4">
  <p>作者：<%= link_to @novel.user.name,user_path(@novel.user) %></p>
</div>

<div class="mb-5">
  <%= simple_format(@novel.story) %>
</div>

<div>
  <ul class="list-unstyled">
    <% @episodes.each do |episode| %>
      <li class="mb-3">
        <div class="row">
          <div class="col-6"><%= link_to episode.subtitle, episode %></div>
          <div class="col-6 text-right"><%= episode.created_at %></div>
        </div>
       </li>
    <% end %>
  </ul>
</div>

</div>